a.vanila_js_video_preview {
    display: inline-block;
    position: relative;
}

a.vanila_js_video_preview > video {
    display: block;
    width: 100%;
    position: relative;
    z-index: 99999;
}
